<div class="container">
  <h1 class="page-header">University of Maryland Baltimore</h1>
  <h2>Students Working in Baltimore Interactive Map Dashboard</h2>
  <p class="help">Upload new student information here for the interactive map. Please be sure to Download a backup copy (from the <strong>Download Files</strong> tab) first. Also please see the help section.</p>


        <tabset>
          <tab>
          <tab-heading>
              <i class="glyphicon glyphicon-upload"></i> Site Upload
          </tab-heading>
            
            <h5>Upload file in xlsx format.
            <span ng-show="data.files != 'invalid' && data.files" class="glyphicon glyphicon-ok" style="color:green;"></span>
            <span ng-show="data.files === 'invalid'"style="color:red;">Please check the file is valid xlsx.</span>
            </h5>


<form role="form" class="form-inline">
    <div class="form-group">
      <input type="file" file-input="data.files" class="form-control" style="color:black;">
    </div>

    <button ng-disabled="data.files === 'invalid'" class="btn btn-default" type="button" ng-click="upload()">Upload</button>
  </form>

              <div class="dynamicStatus" ng-hide="!dynamicStatus">
                <i>{{dynamicStatus}} ({{dynamicFixed}}%)</i>
                <progressbar animate="true" value="dynamic" type="success"><b></b></progressbar>
              </div>

          </tab>
          <tab>
            <tab-heading>
              <i class="glyphicon glyphicon-download-alt"></i> Download Files
            </tab-heading>
            <div class="upload-container">
                <h5>Most recent file uploads.</h5>
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th>File Name</th>
                      <th>Download</th>
                    </tr>
                    <tr ng-repeat="file in lastFileUpload">
                      <td>{{file}}</td>
                      <td><a href="{{file}}" download="{{file}}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                    </tr>
                  </table>
                </div>

              </div>
          </tab>
          
          <tab>
          <tab-heading>
              <i class="glyphicon glyphicon-question-sign"></i> Help
          </tab-heading>
            
            <h5>Suggested Workflow</h5>
            <ol>
	            <li>Download a backup copy of current .xls</li>
	            <li>Upload new, modified .xls</li>
	            <li>Check the Map to ensure Markers/sites are showing</li>
            </ol>
          </tab>
        </tabset>

</div>
<footer class="footer">
  <div class="container">Design and Development by <a target="_blank" href="http://eyebytesolutions.com">Eye Byte Solutions</a>
  </div>
</footer>
